/* style guide */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.header-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container { 
    width: 100vw;
    min-height: 100vh;
}

.home-button { 
    background-color: #B30000;
    width: 24px;
    height: 24px;
    border: 2px solid white;
}

.redirect-button {
    height: 16px;
    border: 1px solid white;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 3em;

}

.skill-elements { 
    display: none;
}

.scroll-button { 
    writing-mode: vertical-rl;
    text-orientation: mixed;
}