/* style guide */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 20px;
    }
    50% {
      bottom: 40px;
    }
  }

@keyframes pulse {
    from { transform: scale(1); opacity: .6}
    50% { transform: scale(0.75); opacity: 1}
    to { transform: scale(1); opacity: .6 }
}
  

.header-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container { 
    width: auto;
    min-height: 100vh;
}

.landing-container { 
    display:flex;
    padding-top: 170px;
    justify-content: space-between;
}

.about-container { 
    display: flex;
    flex-direction: row;
    padding: 8vw;
    padding-top: 24vh;
    justify-content: space-evenly;
}

.project-container { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.loading-screen { 
    display: block; 
    position:fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 47, 34);
    opacity: 1;
}

.loading-screen.close { 
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s, opacity .5s linear;
}

.name-header { 
    width: 16rem;
    text-align: right;
    position:relative;
    z-index: 101;
}

.categories { 
    position:relative;
    z-index: 101;
}

.category { 
    width: 208px;
    transition: all .8s ease-in-out;
}

.category:hover { 
    opacity: .5;
    /* color: #B30000; */
    transition: all .8s ease-in-out;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-button, .redirect-button, .scroll-button, .category { 
    cursor: pointer
}

.home-button { 
    background-color: #B30000;
    width: 24px;
    height: 24px;
    border: 2px solid white;
}

.redirect-button {
    display: inline-block;
    height: auto;
    border: 1px solid white;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
}

.skill-elements:before, .name-header:after {
    content: "";
    display: block;
    border-bottom: 1px solid #B30000;
    margin-bottom: 20px;

}

.name-header:after { 
    margin-top: 10px;
    display: inline-block;
    width: 150px;
}

.skill-elements { 
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    
}

.open.skill-elements { 
    max-height: 320px;
}

.scroll-button { 
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: .8rem;
    position: absolute;
    bottom: 20px;
    z-index: 105;

    animation: MoveUpDown 2s cubic-bezier(0.8, 0.7, .6, 0.9) infinite;
}

.circle { 
    border-radius: 50%;
    border: solid white 1px;
    overflow: hidden;
    max-width: 35vw;
    max-height: 35vw;
    box-shadow: #112219 0px 0px 10px;
}

.loading { 
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    z-index: 1000;
    background-color: white;
    animation: pulse 1s linear infinite;
}

.square { 
    width: 8px;
    height: 8px;
    background-color: #B30000;
    display: inline-block;
    margin-bottom: 24px;
}

.center { 
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

.sm-text-box { 
    opacity: .8;
    width: 35vw;
}

.mm-text-box { 
    opacity: .8;
    width: 45vw;
}

.tags { 
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: flex-start;
}

.tags li { 
    margin-right: 50px;

}

.react-tag { 
    background-color: #B30000 !important;
}

.three-tag { 
    background-color: #FFD600 !important;
}

.html-tag {
    background-color: #2F3889 !important;
}

.tag { 
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
}

/* project */
.project-icon { 
    background-image: url('../pages/content/placeholder.jpg');

    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* resume */
.resume-container { 
    position: relative;
    z-index: 0;
    opacity: .8;
    margin-top: 6.5rem;
}

/* about */
.about-text-box {
    padding-top: 75px;
}