@media screen and (max-width: 1024px) { 
    .project-icon { 
        display: none;
    }
    .project-info { 
        align-items: center;
        text-align: center;
    }
    .mm-text-box { 
        width: 60vw;
    }
    .redirect-button { 
        font-size: .8em;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 480px) { 
    .tags {
        display: flex;
        justify-content: center;
    }
    .about-text-box { 
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) { 
    .sm-text-box, .name-header { 
        width: 300px;
        text-align: center;
        padding-top: 420px;
    }
    .landing-container { 
        justify-content: center;
    }
}

@media screen and (max-width: 768px) { 
    .landing-container { 
        padding-top: 0px;
    }

    .circle { 
        width: 50vw;
        height: 50vw;
    }

    .categories  {
        display:none;
    }

    .about-container { 
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .about-text-box { 
        padding-top: 10px
    }

    .project-content { 
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .button-container { 
        display:flex; 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* height: 120px; */
    }

}

@media screen and (max-width: 480px) {
    .scroll-button { 
        display:none;
    }
}
